<div class="container header">
  <h1 class = "center">Blog Page</h1>
  <a href="/blogs/new" class="waves-effect waves-light btn green accent-3">New Blog</a>
</div>
{{#each blogs}}
<article>
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
          <img class ="blogImg responsive-img" src="{{this.image}}">
      </div>
      <div class = "col l4">
          {{this.title}}
      </div>
        <p class = blogDate>{{toDate this.created}}</p>
        <p>{{toSubstring this.body}}</p>
        <a href="/blogs/{{this._id}}" class="waves-effect waves-light btn readmore">Read More</a>
      </div>
        <hr>
    </div>
</article>


{{/each}}