<div class="container header">
  <h1 class = "center">Blog Page</h1>

<a href="/" class="waves-effect waves-light btn purple darken-2">
<i class="material-icons left">replay</i>Go Back</a>

{{#if currentUser.isAdmin}}
<button data-target="newBlogModal" class="btn waves-effect waves-light green accent-3 newBlog">
<i class="material-icons left">mode_edit</i>New Blog</button>
{{/if}}

<div id="newBlogModal" class="modal">
    <div>
        <a class="btn-floating btn-small waves-effect waves-light red right exit modal-action modal-close">
            <i class="material-icons">eject</i></a>
    </div>
    <div class="modal-content">
        <div class="row">
            <form class="col s12" id="blogForm" action="/blogs" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Title" placeholder="Title" name="title" type="text" class="validate" required="true">
                        <label for="Title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Image" placeholder="Image URL" type="text" name="image" class="validate">
                        <label for="Image">Image</label>
                    </div>
                </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="body"></textarea>
                        <label for="textarea1">Post content</label>
                      </div>
                </div>
                <div class="modal-footer">
                    <button id="submitSignup" class="waves-effect waves-green btn" type="submit"><i class="material-icons left">input</i>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

<div class="container blogIndex">
{{#each blogs}}
  <article>
    <div class="row">
      <div class="col s12 l4">
          <img class ="indexBlogImg responsive-img" src="{{this.image}}">
      </div>
        <span class = "blogDate">{{toDate this.created}}</span>
        <p class="blogTitle">{{this.title}}</p>
        <hr>
        <p class ="blogText">{{{toSubstring this.body}}}</p>
        <a href="/blogs/{{this._id}}" class="waves-effect waves-light btn readmore">Read More</a>
      </div>
        <hr>
  </article>
{{/each}}
</div>
<script src="/js/blogs/index.js" charset="utf-8"></script>
